* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#ul {
  list-style: none;
  display: flex;
}
#ul > li {
  padding: 10%;
  margin: 5%;
  border-radius: 20px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
#ul > li:hover {
  cursor: pointer;
  background-color: rgb(255, 69, 69);
  box-shadow: -1px 22px 5px rgb(132, 2, 2);
}
nav {
  background-color: rgb(255, 69, 69);
  box-shadow: -1px 22px 5px rgb(255, 69, 69);
}
.logo {
  height: 120px;
}
.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Search {
  background: none;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}
.header {
  font-family: sans-serif;
  margin: 0.5em;
}
.section {
  border: 1px solid;
  /* height: 300px; */
  width: 90%;
  margin: 20px auto;
}
main {
  width: 80%;
  margin: 50px auto;
}
.content {
  display: flex;
  justify-content: space-around;
}
.content img {
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin: 1rem;
  margin-bottom: 2rem;
  border-radius: 15px;
}
.recipe {
  list-style: none;
}
